
.mx-auto, .mb-4 {
    max-width: 100%!important;
    margin-right: auto!important;
    margin-left: auto!important;
}

.featurette-heading {
    margin-top: 10rem;
    padding-left: 5rem;
}

.lead{
    padding-left: 5rem;
}

.px-4{
    font-size: 1.3rem;
}

#bff-img {
    width: 300px;
    
    border-radius: 50%;
    margin-bottom: 10px;

}

#bday-age {
    background: white;
  color: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: white;
  color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 300px;
}

.gift-img {
    /* margin: 30px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px; */
    width: 500px;
    height: 500px;
    background-image: url(https://i.ibb.co/Dp5s6sX/IMG-6570.png);
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url(https://i.ibb.co/HqYQSp5/IMG-4158.gif);
}

#gift-img-cool:hover {
    background-image: url(https://i.ibb.co/sF4sw7g/6-F18-E1-CB-A847-48-FE-A31-C-A136-A4-D5680-B.gif);
}

#gift-img-genius:hover {
    background-image: url(https://i.ibb.co/T4snm5X/IMG-4162.gif);
}

#gift-img-badass:hover {
  background-image: url(https://i.ibb.co/ZcPSWLT/IMG-4164.gif);}

#gift-img-cheers:hover {
    background-image: url(https://i.ibb.co/c63CgGv/IMG-6584.gif);
}




