
.mx-auto, .mb-4 {
    max-width: 100%!important;
    margin-right: auto!important;
    margin-left: auto!important;
}

.featurette-heading {
    margin-top: 10rem;
    padding-left: 5rem;
}

.lead{
    padding-left: 5rem;
}

.px-4{
    font-size: 1.3rem;
}

#bff-img {
    width: 250px;
    
    border-radius: 50%;
    margin-bottom: 10px;

}

#bday-age {
    background: white;
  color: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: white;
  color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 300px;
}

.gift-img {
    /* margin: 30px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px; */
    width: 500px;
    height: 500px;
    background-image: url(https://i.ibb.co/Dp5s6sX/IMG-6570.png);
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url(https://i.ibb.co/CKTXW4t/BD142727-D705-40-DB-8062-3-AB5-D2-AEA945.gif);
}

#gift-img-cool:hover {
    background-image: url(https://i.ibb.co/dJvTWbG/65-C953-D3-81-EE-4-BC7-95-AD-791-D98-F8-EF4-E.gif);
}

#gift-img-genius:hover {
    background-image: url(https://i.ibb.co/hCp7bcL/IMG-6582.gif);
}

#gift-img-badass:hover {
  background-image: url(https://i.ibb.co/LCyXBs3/IMG-6585.gif);}

#gift-img-cheers:hover {
    background-image: url(https://i.ibb.co/c63CgGv/IMG-6584.gif);
}




